@import '../App.scss';

body {
  padding-top: 70px;
}
.header-wrapp {
  position: fixed;
  width: 100%;
  max-width: 2000px;
  background-color: #fff;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%);
  top: 0;
  display: flex;
  padding: 8px 12px 3px;
  align-items: center;
  box-shadow: 2px 2px 8px #9c9c9c;
  .gg-menu {
    display: none;
    padding-right: 20px;
    img {
      width: 38px;
    }
  }
  ul {
    display: flex;
    margin-left: auto;
    align-items: center;
    .active {
      color: #4a8700;
    }
  }
  li {
    list-style-type: none;
    padding-left: 30px;
    a {
      text-decoration: none;
      color: $root-color;
      font-size: 18px;
    }
  }
  .cart-wrap img {
    width: 25px;
  }
  .cart-wrap {
    position: relative;
  }
  .cart-count {
    position: absolute;
    background-color: #4a8700;
    display: inline-block;
    min-height: 18px;
    min-width: 18px;
    padding: 1px 3px 0;
    border-radius: 9px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    top: -12px;
    right: calc(50% - 8px);
    transform: translateX(50%);
  }
  .user-wrap {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 2px 3px #9c9c9c;
    position: relative;
    .userimg-wrap {
      border-radius: 50%;
      box-shadow: 0px 2px 5px #9c9c9c;
      width: 90px;
      height: 90px;
    }
    .user-icon {
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .user-opt-wrap {
      position: absolute;
      top: 20px;
      right: 0;
      ul {
        flex-direction: column;
        li {
          list-style-type: none;
          background-color: #fff;
          padding-left: 0;
          box-shadow: 2px 2px 8px #9c9c9c;
          width: 100px;
          text-align: center;
          padding: 10px 6px;
          border-bottom: 1px solid #c7c7c7;
          font-size: 16px;
          p {
            cursor: pointer;
          }
        }
        li:hover {
          background-color: #4a8700;
          a, p {
            color: #fff;
          }
        }
        li:last-child {
          border: none;
        }
      }
    }
  }
  li:first-child {
    padding-left: 0;
  }
  .logo-wrap img {
    width: 120px;
  }
  @media screen and (max-width: 700px) {
    .gg-desk {
      display: none;
    }
    .gg-menu {
      display: block;
    }
  }
} 
.mbile-nav-wrap {
  display: none;
  .mob-overlay {
    width: 100vw;
    height: 100vh;
    background: #00000087;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    display: none;
  }
  ul {
    padding-top: 35px;
    a {
      display: block;
      width: 100%;
      border-bottom: 1px solid #4a8700;
      text-decoration: none;
      color: #000000;
      padding: 10px 0;
      padding-left: 12px;
    }
    a.active {
      color: #4a8700;
    }
  }
  .mob-wrap {
    width: 250px;
    background: #fff;
    height: 100vh;
    position: fixed;
    left: -260px;
    z-index: 999;
    transition: 0.3s;
    top: 0;
  }
  .gg-close {
    position: absolute;
    right: 12px;
    width: 18px;
    top: 8px;
    cursor: pointer;
  }
  @media screen and (max-width: 700px) {
    display: block;
  }
}
.mbile-nav-wrap.gg-active {
  .mob-overlay {
    display: block;
  }
  .mob-wrap {
    left: 0;
  }
}