.cart-warap {
  padding: 0 15px;
  max-width: 1600px;
  h1 {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 12px;
  }
  .left-cart {
    width: 70%;
  }
  .left-cart {
    width: 70%;
  }
  .cart-img {
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .single-pro-wrap {
    display: flex;
    padding: 10px;
    box-shadow: 0px 0px 3px #b09494;
    margin-bottom: 8px;
    position: relative;
    .pro-delete {
      position: absolute;
      right: 15px;
      top: 12px;
      img {
        width: 17px;
        cursor: pointer;
      }
    }
    .cart-pro-detail-wrap {
      padding-left: 15px;
    }
    .cr-pro-name {
      font-size: 16px;
      padding-top: 5px;
      padding-bottom: 10px;
    }
    .cr-pro-price {
      font-size: 18px;
      font-weight: 600;
      color: #4a8700;
    }
    .pro-plus {
      background-color: rgb(207, 207, 207);
      cursor: pointer;
      width: 25px;
      height: 25px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      img {
        width: 20px;
      }
    }
    .cr-pro-calc {
      display: flex;
      justify-self: center;
      align-items: center;
      border: 1px solid #cfcfcf;
      width: fit-content;
      margin-top: 10px;
    }
    .pro-count {
      width: 35px;
      height: 25px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    .pro-minus {
      background-color: rgb(207, 207, 207);
      cursor: pointer;
      width: 25px;
      height: 25px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      img {
        width: 16px;
      }
    }
    .single-total {
      font-size: 18px;
      font-weight: 600;
      color: #4a8700;
      position: absolute;
      right: 25px;
      bottom: 20px;
    }
  }
  .cart-item {
    display: flex;
  }
  .sum-head {
    background-color: #4a8700;
    color: #fff;
    padding: 10px 0;
    font-size: 16;
    padding-left: 20px;
  }
  .sum-val {
    padding: 10px 0;
    padding-left: 20px;
    display:flex;
    padding-right: 20px;
  }
  .sum-qty-text {
    display: block;
    margin-right: auto;
  }
  .sum-Qty {
    font-size: 18px;
    font-weight: 600;
    color: #4a8700;
  }
  .check-btn {
    width: 100%;
    background: #3480f6;
    border: none;
    outline: none;
    height: 50px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }
  .right-cart {
    width: 40%;
    padding: 0 20px;
  }
  @media screen and (max-width: 750px) {
    .cart-item {
      flex-direction: column;
    }
    .left-cart, .right-cart {
      width: 100%;
    }
    .right-cart {
      margin-top: 20px;
    }
  }
}
.cart-empty {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  color: red;
}